@model PhotoGallery.Models.GalleryViewModel.AlbumSearchViewModel

@{
    ViewBag.Title = "All Albums";
}

<div id="gallery">
    <figure>
        <header class="heading">All Albums</header>

        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.SearchWord, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SearchWord, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Partial("_GetCategories", new PhotoGallery.Models.CategoryList())
                        @Html.HiddenFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <ul class="nospace clear">
            @foreach (var item in Model.SearchResults.Select((value, i) => new { i, value }))
            {
                var value = item.value;
                var index = item.i;

                if (index % 4 == 0)
                {
                    <li class="one_quarter first"><a href="#"><img src="data:image;base64,@System.Convert.ToBase64String(value.AlbumImage)" title="@value.AlbumName" /></a></li>
                }
                else
                {
                    <li class="one_quarter"><a href="#"><img src="data:image;base64,@System.Convert.ToBase64String(value.AlbumImage)" title="@value.AlbumName" /></a></li>
                }
            }
        </ul>
    </figure>
</div>

<!-- ################################################################################################ -->
<nav class="pagination">
    <ul>
        <li><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><strong>&hellip;</strong></li>
        <li><a href="#">6</a></li>
        <li class="current"><strong>7</strong></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><strong>&hellip;</strong></li>
        <li><a href="#">14</a></li>
        <li><a href="#">15</a></li>
        <li><a href="#">Next &raquo;</a></li>
    </ul>
</nav>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script language="javascript" type="text/javascript">
    $("#CategoryItemId").on('change', function () {
        var categoryId = $(this).val();
        $("#CategoryId").val(categoryId);
    });
</script>