@model PhotoGallery.Models.GalleryViewModel.AlbumSearchViewModel

@{
    ViewBag.Title = "Albums";
}

<div id="gallery">
    <figure>
        <header class="heading">Albums</header>

        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.SearchWord, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search for album..." }})
                    </div>
                    <div class="col-md-3">
                        @Html.Partial("_GetCategories", new PhotoGallery.Models.CategoryList())
                        @Html.HiddenFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-offset-2 col-md-2 pull-right">
                        <input type="submit" value="Search" style="none;" class="form-control" />
                    </div>
                </div>
            </div>
        }
        <div class="group center">
            <ul class="nospace elements">
                @foreach (var item in Model.SearchResults.Select((value, i) => new { i, value }))
                {
                    var value = item.value;
                    var index = item.i;

                    if (index % 4 == 0)
                    {
                        <li class="one_quarter first">
                            <article>
                                <figure>
                                    <img src="data:image;base64,@System.Convert.ToBase64String(value.AlbumImage)" title="@value.AlbumName" />
                                    <figcaption><a href="@value.Id">View album &raquo;</a></figcaption>
                                </figure>
                                <div class="txtwrap">
                                    <h6 class="heading">@value.AlbumName</h6>
                                    <p>Uploaded by ...</p>
                                </div>
                            </article>
                        </li>
                    }
                    else
                    {
                        <li class="one_quarter">
                            <article>
                                <figure>
                                    <img src="data:image;base64,@System.Convert.ToBase64String(value.AlbumImage)" title="@value.AlbumName" />
                                    <figcaption><a href="@value.Id">View album &raquo;</a></figcaption>
                                </figure>
                                <div class="txtwrap">
                                    <h6 class="heading">@value.AlbumName</h6>
                                    <p>Uploaded by ...</p>
                                </div>
                            </article>
                        </li>
                    }
                }
            </ul>
        </div>
    </figure>
</div>

<!-- ################################################################################################ -->
<nav class="pagination">
    <ul>
        <li><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><strong>&hellip;</strong></li>
        <li><a href="#">6</a></li>
        <li class="current"><strong>7</strong></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><strong>&hellip;</strong></li>
        <li><a href="#">14</a></li>
        <li><a href="#">15</a></li>
        <li><a href="#">Next &raquo;</a></li>
    </ul>
</nav>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script language="javascript" type="text/javascript">
    $("#CategoryItemId").on('change', function () {
        var categoryId = $(this).val();
        $("#CategoryId").val(categoryId);
    });
</script>