@model PhotoGallery.Models.GalleryViewModel.AlbumCreateViewModel

@{
    ViewBag.Title = "Create New Album";
}

<h2>Create New Album</h2>

@using (Html.BeginForm("CreateAlbum", "Album", FormMethod.Post, new { EncType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AlbumName, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-5">
                @Html.EditorFor(model => model.AlbumName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlbumName, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-3">
                @Html.Partial("_GetCategories", new PhotoGallery.Models.CategoryList())
                @Html.HiddenFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="file" class="control-label col-sm-2">Album Cover Photo</label>
            <div class="col-sm-4">
                <input type="file" name="file" id="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script language="javascript" type="text/javascript">
    $("#CategoryItemId").on('change', function () {
        var categoryId = $(this).val();
        $("#CategoryId").val(categoryId);
    });
</script>
