@model List<Common.DTO.AlbumDTO>

@{
    ViewBag.Title = "Home Page";
}

<h2 class="heading" style="font-size: xx-large">Latest albums</h2>

<div class="group center">
    <ul class="nospace elements">
        @foreach (var item in Model.Select((value, i) => new { i, value }))
        {
            var value = item.value;
            var index = item.i;

            if (index % 3 == 0)
            {
                <li class="one_third first">
                    <article>
                        <figure>
                            <img src="data:image;base64,@System.Convert.ToBase64String(value.AlbumImage)" title="@value.AlbumName" />
                            <figcaption><a href="@value.Id">View content &raquo;</a></figcaption>
                        </figure>
                        <div class="txtwrap">
                            <h6 class="heading">@value.AlbumName</h6>
                            <p>Uploaded by ...</p>
                        </div>
                    </article>
                </li>
            }
            else
            {
                <li class="one_third">
                    <article>
                        <figure>
                            <img src="data:image;base64,@System.Convert.ToBase64String(value.AlbumImage)" title="@value.AlbumName" />
                            <figcaption><a href="@value.Id">View content &raquo;</a></figcaption>
                        </figure>
                        <div class="txtwrap">
                            <h6 class="heading">@value.AlbumName</h6>
                            <p>Uploaded by ...</p>
                        </div>
                    </article>
                </li>
            }
        }
    </ul>
</div>